$bp-mobile: 37.5em; // 600px / 16 = 37.5em

:root {
  --primary-color: #ad1fea;
  --primary-light-color: #c75af6;
  --secondary-color: #373f68;
  --secondary-light-color: #656ea3;
  --tertiary-color: #4661e6;
  --tertiary-light-color: #7c91f9;
  --secondary-lighter-color: #{rgba(#3a4374, 0.15)};
  --danger-color: #d73737;
  --danger-light-color: #e98888;

  --white-color: #fff;
  --black-color: #000;

  --body-bg-color: #f7f8fd;
  --overlay-bg-color: rgba(0, 0, 0, 0.5);

  --orange-color: #f49f85;
  --sky-blue-color: #62bcfa;

  // Override react-toastify colors
  --toastify-color-success: var(--primary-color);
  --toastify-color-error: var(--danger-color);
  --toastify-spinner-color: var(--secondary-color);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px (10px/16px =62.5%)
}

body,
input,
button,
textarea {
  font-family: 'Jost', sans-serif;
  font-size: 1.6rem;
}

body {
  background-color: var(--body-bg-color);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}
