.city-card {
  justify-self: center;
  padding: 3rem;
  border-radius: 0.5rem;
  background-color: var(--white-color);
  border-top-width: 0.6rem;
  border-top-style: solid;

  display: grid;
  grid-template-rows: 8rem 9rem min-content min-content;
  gap: 3rem;

  &__label {
    margin-top: 0.8rem;
  }

  &__timezone-text {
    display: flex;
    align-items: flex-end;
    gap: 1.3rem;
  }

  &__tmz-abbrev {
    margin-bottom: 0.8rem;
  }

  &__delete-button {
    width: min-content;
  }

  &.border-top-orange {
    border-top-color: var(--orange-color);
  }

  &.border-top-purple {
    border-top-color: var(--tertiary-color);
  }

  &.border-top-sky-blue {
    border-top-color: var(--sky-blue-color);
  }

  &.border-top-dark-blue {
    border-top-color: var(--secondary-color);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-bg-color);
  transition: all 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    padding: 3rem;
    width: 50rem;
    background-color: var(--white-color);
    border-radius: 1rem;
  }

  &__header {
    position: relative;
    margin-bottom: 5rem;
    height: 3.6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close-button {
    cursor: pointer;
    width: 2rem;
    padding: 1rem 0;
    display: block;
  }

  &__close-button::before,
  &__close-button::after {
    display: block;
    background: var(--black-color);
    content: '';
    height: 0.2rem;
    width: 2rem;
    position: absolute;
    top: 1.2rem;
  }

  &__close-button::before {
    transform: rotate(-45deg);
  }

  &__close-button::after {
    transform: rotate(45deg);
  }

  &__body {
    margin-bottom: 6rem;
  }

  &__footer {
    display: flex;
    gap: 2rem;
  }
}

.form-input:not(:first-of-type) {
  margin-top: 4rem;
}

.input {
  &__label {
    font-weight: 700;
  }

  &__required-indicator {
    margin-left: 0.5rem;
  }

  &__description {
    margin-top: 0.5rem;
  }

  &__container {
    margin-top: 1.6rem;

    padding: 1.3rem 2.4rem;
    background-color: var(--body-bg-color);
    border-radius: 5px;
    border: 1px solid transparent;

    &:focus-within {
      border-color: var(--tertiary-color);
    }

    &.has-error {
      border-color: var(--danger-color);
    }
  }

  &__field {
    all: unset;
    width: 100%;
  }

  &__error {
    margin-top: 0.5rem;
    color: var(--danger-color);
  }
}

.select {
  &__label {
    font-weight: 700;
  }

  &__required-indicator {
    margin-left: 0.5rem;
  }

  &__description {
    margin-top: 0.5rem;
  }

  &__container {
    cursor: pointer;
    position: relative;
    margin-top: 1.6rem;

    padding: 1.3rem 2.4rem;
    background-color: var(--body-bg-color);
    border-radius: 5px;
    border: 1px solid transparent;

    &.is-focused {
      border-color: var(--tertiary-color);
    }

    &.has-error {
      border-color: var(--danger-color);
    }
  }

  &__field {
    all: unset;
    width: 100%;
    caret-color: transparent;
  }

  &__menu {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 6rem;
    right: 0;

    z-index: 2;
    width: 100%;
    max-height: 255px;
    overflow: auto;
    background-color: var(--white-color);
    padding: 1.5rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.35);
    transition: all 0.2s;

    &.hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__option {
    padding: 1.2rem 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--secondary-lighter-color);
    }

    &:hover {
      color: var(--primary-color);
    }
  }

  &__error {
    margin-top: 0.5rem;
    color: var(--danger-color);
  }
}

.button {
  cursor: pointer;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  min-width: 10rem;

  /** TYPES **/
  &__primary {
    background-color: var(--primary-color);
    color: var(--white-color);

    &:hover {
      background-color: var(--primary-light-color);
    }
  }

  &__secondary {
    background-color: var(--secondary-color);
    color: var(--white-color);

    &:hover {
      background-color: var(--secondary-light-color);
    }
  }

  &__tertiary {
    background-color: var(--tertiary-color);
    color: var(--white-color);

    &:hover {
      background-color: var(--tertiary-light-color);
    }
  }

  &__danger {
    background-color: var(--danger-color);
    color: var(--white-color);

    &:hover {
      background-color: var(--danger-light-color);
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
