.city-card {
  padding: 2rem 3rem;
  border: 1px solid black;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    padding: 3rem;
    width: 50rem;
    background-color: #fff;
    border-radius: 1rem;
  }

  &__header {
    position: relative;
    margin-bottom: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close-button {
    cursor: pointer;
    width: 2rem;
    padding: 1rem 0;
    display: block;
  }

  &__close-button::before,
  &__close-button::after {
    display: block;
    background: #000;
    content: '';
    height: 0.2rem;
    width: 2rem;
    position: absolute;
    top: 1.2rem;
  }

  &__close-button::before {
    transform: rotate(-45deg);
  }

  &__close-button::after {
    transform: rotate(45deg);
  }

  &__body {
    margin-bottom: 6rem;
  }
}

.form-input:not(:first-of-type) {
  margin-top: 4rem;
}

.input {
  &__label {
    font-weight: 700;
  }

  &__required-indicator {
    margin-left: 0.5rem;
  }

  &__description {
    margin-top: 0.5rem;
  }

  &__container {
    margin-top: 1.6rem;

    padding: 1.3rem 2.4rem;
    background-color: #f7f8fd;
    border-radius: 5px;
    border: 1px solid transparent;

    &:focus-within {
      border-color: #4661e6;
    }

    &.has-error {
      border-color: #d73737;
    }
  }

  &__field {
    all: unset;
    width: 100%;
  }

  &__error {
    margin-top: 0.5rem;
    color: #d73737;
  }
}

.select {
  &__label {
    font-weight: 700;
  }

  &__required-indicator {
    margin-left: 0.5rem;
  }

  &__description {
    margin-top: 0.5rem;
  }

  &__container {
    cursor: pointer;
    position: relative;
    margin-top: 1.6rem;

    padding: 1.3rem 2.4rem;
    background-color: #f7f8fd;
    border-radius: 5px;
    border: 1px solid transparent;

    &.is-focused {
      border-color: #4661e6;
    }

    &.has-error {
      border-color: #d73737;
    }
  }

  &__field {
    all: unset;
    width: 100%;
    caret-color: transparent;
  }

  &__menu {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 6rem;
    right: 0;

    z-index: 2;
    width: 100%;
    max-height: 272px;
    overflow: auto;
    background-color: #ffffff;
    padding: 1.5rem 2.5rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.35);
    transition: all 0.2s;

    &.hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__option {
    padding: 1.2rem 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(#3a4374, 0.15);
    }

    &:hover {
      color: #4661e6;
    }
  }

  &__error {
    margin-top: 0.5rem;
    color: #d73737;
  }
}
