.city-card {
  padding: 2rem 3rem;
  border: 1px solid black;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    padding: 3rem;
    width: 50rem;
    background-color: #fff;
  }

  &__header {
    position: relative;
    margin-bottom: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close-button {
    cursor: pointer;
    width: 2rem;
    padding: 1rem 0;
    display: block;
  }

  &__close-button::before,
  &__close-button::after {
    display: block;
    background: #000;
    content: '';
    height: 0.2rem;
    width: 2rem;
    position: absolute;
    top: 1.2rem;
  }

  &__close-button::before {
    transform: rotate(-45deg);
  }

  &__close-button::after {
    transform: rotate(45deg);
  }

  &__body {
    margin-bottom: 5rem;
  }
}
