.my-city {
  padding: 10rem 0;
  text-align: center;
}

.cities {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }

  &__city-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(22%, 25rem), 1fr));
    justify-items: center;
    grid-gap: 2rem;
    width: 100%;
  }

  &__city-item {
    width: 25rem;
  }
}
